.nav > li {
  position: relative;
  display: block;
}

.nav > li.active {
  border-left: 4px solid #977;
  background: #eee;
}

.nav > li > a {
  color: #333;
}

@media (min-width: 768px) {
  .navbar-static-left {
    position: absolute;
    width: 220px;
  }
}
